.table-container {
  max-width: 80%;
  margin: 0 auto;
  max-height: 383px;
  position: relative;
}

.custom-scroll-1 {
  width: 100%;
  table-layout: fixed; 
  border-collapse: collapse;
  border-spacing: 0;
}

.custom-scroll {
  width: 100.2%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.data-container {
  max-height: 335px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-top: none;
  overflow-x: hidden; 
}

tr:first-child > td{
  border-top: none;
}

tr > td:first-child{
  border-left: none;
}

tr > td:last-child{
  border-right: none;
}

tr:last-child > td{
  border-bottom: none;
}

.data-container::-webkit-scrollbar {
  width: 4px;
}

.data-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}

.data-container::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 0px;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.table--footer{
  width: 80%;
  margin: 0 auto;
  height: 33px;
  border: 1px solid rgba(0, 0, 0, 0.20);
}

.border--header{
  position: sticky;
  top: 0;
  z-index: 1;
}

table,
tr,
td {
   border-collapse: collapse;
}

th, td{
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th{
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 0.8rem;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    text-transform: uppercase;
}

.menu--column{
    float: right ;
    cursor: pointer;
}

tr:nth-child(2n+0) {
    background: #f3f3f383;
  }

td{
    border: 1px dashed rgba(0, 0, 0, 0.20);
    padding: 0.45rem 0.8rem;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
}

.xs{
  width: 40px;
}

.sm{
  width: 70px;
}

.md{
  width: 200px;
}

.lg{
  width: 300px;
}

.xl{
  width: 350px;
}

.justify-center{
  text-align: center;
}

.filter--panel{
  position: absolute;
  width: 180px;
  /* height: 130px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.10) 0px 6px 12px -2px, rgba(0, 0, 0, 0.10) 0px 3px 7px -3px;
}

.filter--label{
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
}

/* Style the select element */
select {
  width: 380px;
  padding: 0.5rem 0.4rem;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  outline: none;
  transition: border-color 0.3s ease;
  appearance: none; /* Remove default arrow icon in some browsers */
}

select option {
  background-color: #fff;
  color: #333;
}

select option:hover {
  background-color: #e8e8e8; /* Set background color on hover */
}


#filterSearch.filter--search {
  width: 367.2px;
  outline: none;
  border: none;
  font-size: 14px;
  margin-top: 20px;
  padding: 0.5rem 0.4rem 0.2rem;
  border-bottom: 1px solid #ccc;
}




/* Filter New */
hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaaaaa;
}
h2 {
  font-size: 30px;
}
p {
  margin-bottom: 20px;
}
.btn {
  background-color: rgb(49, 49, 49);
  border:  rgb(49, 49, 49) solid 1px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 0.45rem 1.6rem;
  text-decoration: none;
  text-align: center;
  /* position: relative; */
  transition: color .1s ease;
  cursor: pointer;
}
/* .btn.btn-big {
  font-size: 14px;
  padding: 15px 20px;
  min-width: 100px;
} */
.reset--link{
  font-size: 12px;
  margin-left: 3px;
  color: #c04a00;
}

.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 6px;
  top: -6px;
}
.btn-close:hover {
  color: #383838;
}

.modal:target:before {
  display: none;
}
.modal:before {
  content:"";
  display: block;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal .modal-dialog {
  background: #fefefe;
  border: 1px solid rgba(0, 0, 0, 0.20);
  position: fixed;
  z-index: 11;
  width: 420px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal:target .modal-dialog {
  top: -100%;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
}
.modal-body {
  padding: 20px;
}
.modal-header{
  padding: 0 20px;
}
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
  display: flex;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eeeeee solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter--list{

}

li{
  text-decoration: none;
  font-size: 12px;
  padding: 0.4rem 0.8rem;
  list-style-type: none;
  border: 0.5px solid rgba(0, 0, 0, 0.10);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul{
  width: 380px;
  margin-top: 3px;
  max-height: 120px;
  overflow-y: auto;
  margin-bottom: 0;
  padding-left: 0px;
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0;
  transition: max-height 1s;
}

ul::-webkit-scrollbar {
  width: 4px;
  max-height: 25px;
}
ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}
ul::-webkit-scrollbar-thumb {
  max-height: 25px;
  background: #777;
  border-radius: 0px;
}